@import url(http://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after
{
  box-sizing:border-box;
}

div.main
{
	float:left;
	width: 55%;
	max-width: 55%;
	height: 543px;
	/*height:407px;*/
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
}

div.filter
{
	float:left;
	width:55%;
	max-width: 55%;
	/*height:407px;*/
	height:407px;
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
	overflow-x: scroll;
	display:inline-block;
	white-space: nowrap;
	position: relative;
}

div.gallery
{
	float: right;
	height: 950px;
	width: 40%;
	overflow-y: scroll;
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
	vertical-align: top;
}

div.main_mob
{
	height: 100%;
	width: 90%;
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
  margin-left: auto;
  margin-right: auto;
  align: center;
}

div.filter_mob
{
	height:100%;
	width:90%;
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
	overflow-x: scroll;
	white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

div.gallery_mob
{
	height: 100%;
	width: 90%;
	overflow-y: scroll;
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
  margin-left: auto;
  margin-right: auto;
  align: center;
}

div.wall
{
	height: 950px;
	width: 60%;
	overflow-y: scroll;
	box-shadow: 1px 1px 12px #555;
	background-image: url(../resources/social/background.jpeg);
	vertical-align: top;
}

div.footer
{
	width: 100%;
	height: 15px;
	text-align: center;
	font-family: Gill Sans;
	clear: both;
}

body
{
  font-family: 'Lato', sans-serif;
}

div.title
{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*This is letters animation for Title.*/
.letter
{
  display: inline-block;
  font-weight: 600;
  font-size: 6em;
  margin: 0.2em;
  position: relative;
  color: #3a57af;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after
{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after
{
  transition: all 0.3s ease-in-out;
}
.letter:before
{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after
{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before
{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after
{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

header > h4
{
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}

canvas
{
    display: none;
}

.displayed
{
	max-width: 100%;
	max-height: 100%;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:contain;
	background-position:center;
}

.mini
{
	max-width: 49%;
	max-height: 49%;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:contain;
	background-position:center;
}

.video
{
	max-width: 100%;
	height: 375px;
	background-image: url(../resources/social/no-video.jpeg);
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:contain;
	background-position:center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.video_mob
{
	width: 100%;
	height: 100%;
	background-image: url(../resources/social/no-video.jpeg);
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:contain;
	background-position:center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

#startbutton
{
	font-size: 14px;
	font-weight: 600;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 0px 25px 0px 20px;
	margin: 10px 8px 20px 0px;
	display: block;
	text-decoration: none;
	width: 100px; height: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3a57af;
	-webkit-box-shadow: 0 3px rgba(220, 223, 232,.75);
	-moz-box-shadow: 0 3px rgba(220, 223, 232,.75);
	box-shadow: 0 3px rgba(117, 131, 153,.75);
	transition: all 0.1s linear 0s;
  margin-left:auto;
  margin-right:auto;
  top: 0px;
  position:relative;
  clear: both;
}

#startbutton:hover
{
	top: 3px;
	background-color:#2e458b;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button_b
{
	font-size: 14px;
	font-weight: 600;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 0px 25px 0px 20px;
	margin: 10px 8px 20px 0px;
	/*display: inline-blockdd;*/
	text-decoration: none;
	width: 100px; height: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3a57af;
	-webkit-box-shadow: 0 3px rgba(220, 223, 232,.75);
	-moz-box-shadow: 0 3px rgba(220, 223, 232,.75);
	box-shadow: 0 3px rgba(117, 131, 153,.75);
	transition: all 0.1s linear 0s;
  top: 0px;
  position: relative;
  clear: both;

}

.button_b:hover
{
	top: 3px;
	background-color:#2e458b;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.button_c
{
	font-size: 14px;
	font-weight: 600;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 0px 25px 0px 20px;
	margin: 10px 8px 20px 0px;
	text-decoration: none;
	width: 100px; height: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3a57af;
	-webkit-box-shadow: 0 3px rgba(220, 223, 232,.75);
	-moz-box-shadow: 0 3px rgba(220, 223, 232,.75);
	box-shadow: 0 3px rgba(117, 131, 153,.75);
	transition: all 0.1s linear 0s;
  top: 0px;
}

.button_c:hover
{
	top: 3px;
	background-color:#2e458b;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#container
{
    overflow: hidden;
    width: 1000px;
    margin: 20px auto;
}

.center
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  align:center;
}

.dbcreation
{
  text-align: center;
  margin: 20px auto;
  width: 343px;
  max-height:80%;
  padding:4px;
  font-size: 15px;
  text-align: center;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

/**/
/*Live filters on the video flux.*/
/**/

.filter_click
{
	background-color: #3a57af;
}

.pepe
{
  background-image: url(../resources/filter/2-pepe.png);
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:45%;
}

.kanye
{
  background-image: url(../resources/filter/kanye.png);
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:45%;

}

.kim
{
  background-image: url(../resources/filter/kim.png);
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:52%;
}

.dodge
{
  background-image: url(../resources/filter/dodge.png);
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:40%;
}

.lol
{
  background-image: url(../resources/filter/1-lol.png);
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:45%;
}

.spartan
{
  background-image: url(../resources/filter/spartan.png);
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:50%;
}
